<h2>Products</h2>
<div class="products-container" >
<div *ngFor="let product of products" class="product">

  <h3>
    <a
    [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]">
    {{ product.name }}
    </a>
    
  </h3>


  <div *ngIf="product">

    <a [routerLink]="['/products', product.id]">
    <img src="{{ product.imageUrl }}" class="product-image">
    </a>
    <br>

  
  <app-product-alerts
    [product]="product" 
    (notify)="onNotify()">
  </app-product-alerts>

</div>
</div>